aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
coffeehouse
cryptg
deezloader
emoji
googletrans
google_images_download==2.8.0
gtts
hachoir
Pillow
PyLyrics
psycopg2
pySmartDL
python-barcode
python-magic
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
google-api-python-client==1.7.11
oauth2client==4.1.3
httplib2==0.13.1
justwatch
